@import url(http://fonts.googleapis.com/css?family=Pacifico);
$primary-font: 'Pacifico', cursive;

@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
$secondary-font: 'Walter Turncoat', cursive;